<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <div class="footer-logo">
                        Aligator Store
                    </div>
                    <ul>
                        <li>Address: Ivano-Frankivsk</li>
                        <li>Phone: +380 68 66 43 426</li>
                        <li>Email: oleg.benderg@gmail.com</li>
                    </ul>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-widget">
                    <h5>Information</h5>
                    <ul>
                        <li><a href="/store/about-us">About Us</a></li>
                        <li><a href="/store/checkout">Checkout</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>User Account</h5>
                    <ul>
                        <li><a href="/store/authorization/signin">Login</a></li>
                        <li><a href="/store/authorization/signup">Register</a></li>
                        <li><a href="/store/shopping-cart">Shopping Cart</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="newslatter-item">
                    <h5>Join Our Newsletter Now</h5>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="/store/subscribe" class="subscribe-form" method="post">
                        <input type="text" name="email" placeholder="Enter your email here...">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | aligator-store.com
                    </div>
                    <div class="payment-pic">
                        <img src="/images/payment-method.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>