<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/101392fe56.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-grid.css">
    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">
    <!-- CSS Styles -->
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>