<header>
    <nav class="nav-wrapper">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="email-info">
                            <i class="fas fa-envelope"></i> oleg.benderg@gmail.com
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="phone-info">
                            <p><i class="fas fa-phone-alt"></i> +380 68 66 66 666 <a class="social" href="#"><i class="fab fa-facebook social-other"></i></a> <a class="social-other" href="#"><i class="fab fa-twitter"></i></a> <a class="social-other" href="#"><i class="fab fa-linkedin-in"></i></a> <a href="#"><i class="fab fa-instagram"></i></a> </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="user-authorization">
                            {{# if login }}
                                <a class="user-signup" href="/store/user/profile"><i class="fas fa-user-circle mr-2"></i>Profile</a>
                                <a class="user-signin" href="/store/user/logout"><i class="fas fa-sign-out-alt mr-2"></i>Logout</a>
                            {{ else }}
                                <a class="user-signup" href="/store/authorization/signup"><i class="far fa-user mr-2"></i>Registration</a>
                                <a class="user-signin" href="/store/authorization/signin"><i class="fas fa-user mr-2"></i>Login</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="middle-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="logo">
                            Aligator Store
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="search">
                            <form action="/store/search" method="get">
                                <input type="text" name="search" placeholder="Search products...">
                                <input type="submit" value="Search">
                            </form>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="wish">
                            <a href="/store/wish"><i class="far fa-heart"></i></a>
                            <span class="badge badge-dark">{{session.wish.totalQuantity}}</span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="cart">
                            <a href="/store/shopping-cart"><i class="fas fa-shopping-cart"></i></a>
                            <span class="badge badge-dark">{{session.cart.totalQuantity}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="bottom-nav">
            <div class="container">
                <div class="navigation">
                    <a href="/store/home" class="navigation__link">Home</a>
                    <a href="/store/products" class="navigation__link">Products</a>
                    <a href="/store/checkout" class="navigation__link">Checkout</a>
                    <a href="/store/about-us" class="navigation__link">About us</a>
                    <a href="/store/contact" class="navigation__link">Contact</a>
                </div>
            </div>
        </div>
    </nav>
</header>