{{> header }}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<main>
    <div class="breadcrumb-wrapper">
        <div class="breadcrumb-container container">
            <div class="breadcrumb-row row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home mr-2"></i> Home</a>
                        <span style="color: black">/</span>
                        <span class="breadcrumb-login">Login</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alert-wrapper">
        <div class="container">
            {{#if hasErrors }}
            <div class="alert alert-danger " role="alert">
            {{# each messages }}
                {{ this }}
            {{/each}}
            </div>
            {{/if}}
        </div>
    </div>

    <section class="login-wrapper">
        <div class="login-container container">
            <div class="row login-rows">
                <div class="col-lg-6">
                    <div class="login-left">
                        <div class="top-text">
                            <h2>Welcome back!</h2>
                            <p class="first-p">Please, sign in now for a full <br>deal with our store.</p>
                            <p>Have a good day.</p>
                        </div>
                        <div class="bottom-text">
                            <h2>New to our store?</h2>
                            <p class="first-p">Then we will be happy if you <br>register and become our new client!</p>
                            <a class="create-account" type="button" href="/store/authorization/signup">Create an account</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="login-form">
                        <div class="login-title">
                            <h2><i class="fas fa-user mr-2"></i>Login</h2>
                        </div>
                        <form action="/store/authorization/signin" method="post">
                            <div class="email-input">
                                <label for="username"><i class="fas fa-envelope mr-2"></i>Email address</label>
                                <input type="text" id="username" name="username" placeholder="Please, enter your email...">
                            </div>
                            <div class="password-input">
                                <label for="password"><i class="fas fa-key mr-2"></i>Password</label>
                                <input type="password" id="password" name="password" placeholder="Please, enter your password...">
                            </div>
                            <div class="form-attributes">
                                <div class="forgot-password">
                                    <a href="#">Forget your password?</a>
                                </div>
                            </div>
                            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                            <button type="submit" class="signin-btn">Sign In</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

{{> footer}}