html,
body,
.view{
    height: 100%;
}

.carousel{
    height: 50%;
}

.carousel .carousel-inner{
    height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active{
    height: 100%;
}

@media (max-width: 776px){
    .carousel{
        height: 100%;
    }
}

.btn-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 12px 20px;
}

.btn-top:hover{
    background-color:#151b27;
}
