<div class="container">
    <div class="jumbotron" style="border: 1px solid black; display: flex; justify-content: center; margin: 200px auto;">
        <h1>Error 404</h1>
        <h2>Page not founded</h2>
        <hr>
        <h4><a href="/store/home">Back to home page</a></h4>
    </div>
</div>
