{{> header}}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<main>
    <section>
        <div class="container">
            <h1>Home page</h1>
            <div class="row justify-content-center">
                <div class="col-sm-6 mb-3">
                    <div id="success" role="alert" class="alert alert-success {{#if noMessages}}d-none{{/if}}">
                        {{ successMsg }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<form action="/store/search" method="get" class="form-inline">
    <div class="form-group container">
        <input type="text" name="search" placeholder="Search product..." class="form-control">
        <input type="submit" value="Search" class="btn btn-default">
    </div>
</form>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    var $btnTop = $(".btn-top")
    $(window).on("scroll", function(){
        if($(window).scrollTop() >= 10) {
            $btnTop.fadeIn();
        }
        else {
            $btnTop.fadeOut();
        }
    });

    $btnTop.on("click", function(){
        $("html,body").animate({scrollTop:0}, 900)
    });
</script>