<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<a href="/store/products">Products</a>

{{# if login }}
    <a href="/store/user/profile">User Account</a>
    <a href="/store/user/logout">Logout</a>
    {{ else }}
    <a href="/store/authorization/signup">Sign up</a>
    <a href="/store/authorization/signin">Sign in</a>
    {{/if}}